@import url("../../variebles.css");

.documentItem__wrapper {
    transition: 0.4s ease;
    width: 1119px;
    margin-left: 113px;
}

.documentItem__wrapper.active {
    
    width: 1235px;
    margin-top: 20px;
    margin-left: calc(113px - 58px);
    padding: 12px 58px 32px 58px;
    color: #fff;
    background-color: var(--document-bg-color);
}

.documentItem__wrapper.active:first-child {
    margin-top: 0;
}

.document__header {
    width: 1119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    cursor: pointer;
}

.documentItem__wrapper.active > .document__header {
    border-color: #fff;
}

.document__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
}

.links__conteiner {
    width: 1119px;
    grid-template-columns: 1fr 1fr;
    padding-top: 7px;
    display: grid;
}

.document__link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #fff;
    padding-top: 8px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.document__link:hover {
    text-decoration: underline;
}

.document__link::before {
    content: url("./listDecorator.png");
    padding-right: 13px;
}

.documentItem__wrapper > .documentItem__wrapper  {
    color: #000;
    margin-left: 0;
}

.documentItem__wrapper > .documentItem__wrapper.active  {
    color: #fff;
    width: 100%;
    margin-left: 0;
    padding: 0;
}

.documentItem__wrapper > .documentItem__wrapper > .document__header, .links__conteiner {
    width: calc(1119px - 5%);
}